body {
    background-color: #d7d7d7;
    font-family: Arial, sans-serif;
    margin: 0 auto; 
} 

div {
    padding: 5px 15px;
}

#head {
    min-height: 200px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.0rem;
}

#body_center {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
    margin-left: 150px;
    margin-right: 150px;
}

.content {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

.soon {
    color: rgb(255, 0, 0);
}

pre {
    font-size: 1.3rem;
}

#topNubex {
	position: fixed;
	right: 40px;
	bottom: 40px;
}

section.blur:target {
    animation: anim .5s;
}
@keyframes anim { 
    0%, 100% { background: rgba(0,0,0,0); }
    50% { background: rgb(255, 255, 255); }
}

li {
    font-size: 1.7rem;
}

a {
    color: black;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000; 
}